---
import Search from "@astrojs/starlight/components/Search.astro";
import Logo from "./Logo.astro";
import { Icon } from "@astrojs/starlight/components";
import PillLink from "./PillLink.astro";
import ThemeSelect from "./ThemeSelect.astro";
import StargazersCount from "./StargazersCount.astro";
import StargazersFallback from "./StargazersFallback.astro";

const isDashHomepage = Astro.locals.starlightRoute.id === "";
---

<div class="bg-[var(--sl-color-bg)] px-2 py-2 lg:px-6">
  <div
    class="flex max-w-[100vw] flex-row items-center gap-3 rounded border border-[var(--sl-color-gray-5)] py-2 pr-2 pl-4 lg:gap-3 lg:px-6"
  >
    <div class="flex grow items-end">
      <a href="/" class="no-underline">
        <Logo />
      </a>
    </div>
    {
      isDashHomepage ? (
        <PillLink href="/getting-started" class="hidden lg:block">
          <>
            <Icon name="document" size="20px" />
            <span class="hidden lg:block"> Docs</span>
          </>
        </PillLink>
      ) : null
    }
    <div class="hidden md:block">
      <StargazersCount server:defer>
        <StargazersFallback slot="fallback" />
      </StargazersCount>
    </div>
    <PillLink
      class="hidden lg:block"
      href="https://discord.gg/SXNXp9NctV"
      target="_blank"
    >
      <Icon name="discord" size="20px" />
    </PillLink>
    <Search />
    <div class="hidden md:block">
      <ThemeSelect />
    </div>
  </div>
</div>
